.container {
  max-width: 1170px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
header {
  padding: 14px 0;
  background: rgba(188, 221, 248, 0.3);
  position: fixed;
  width: 100%;
  top: 0;
  left:0;
  z-index: 10;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(188, 221, 248, 0.3);
  }
  .header_body{
    position: relative;
    z-index: 2;

  }

  a {
    text-decoration: none;

    h1 {
      font: 32px/147% 'Rubik';
      font-weight: 500;
      letter-spacing: 1px;
      color: #40A3F8;


    }
  }
  .d_flex_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

nav {
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0;

    li {
      margin-left: 50px;

      &:last-of-type {
        margin-left: 75px;
        transition: 0.3s;
        align-items: center;

        &:hover {
          transform: scale(1.05);
        }
      }

      &:last-of-type a {
        font: 15px/146% 'Poppins';
        font-weight: 500;
        color: #FFFFFF;
        text-decoration: none;
        opacity: 1;
        transition: 0.3s;
        background: #40A3F8;
        border-radius: 5px;
        padding: 14px 28px;

        &:hover {
          color: white;
        }

      }

      a {
        font: 16px/150% 'Poppins';
        font-weight: 500;
        color: #6E5F5F;
        opacity: 0.3;
        text-decoration: none;
        transition: 0.3s;

        &:hover {
          color: #40A3F8;
          opacity: 1;
        }


      }

    }
  }
}