.container {
  max-width: 1170px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
header {
  padding: 14px 0;
  background: rgba(177, 222, 255, 0.3);

  h2 {
    a {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 47px;
      text-decoration: none;
      letter-spacing: 1px;
      color: #40A3F8;
      transition: 0.3s;

      &:hover {
        text-decoration: none;
      }

    }
  }
  .d_flex_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

nav {
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0;

    li {
      margin-left: 50px;

      &:last-of-type {
        margin-left: 75px;
        background: #40A3F8;
        border-radius: 5px;
        padding: 14px 28px;
        transition: 0.2s;
        align-items: center;

        &:hover {
          transform: scale(1.05);
        }
      }

      &:last-of-type a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: #FFFFFF;
        text-decoration: none;
        opacity: 1;
        transition: 0.3s;

        &:hover {
          color: white;
          opacity: 1;
          text-decoration: none;
        }

      }

      a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #6E5F5F;
        opacity: 0.3;
        text-decoration: none;

        &:hover {
          color: #40A3F8;
          opacity: 1;
          text-decoration: none;
        }


      }

    }
  }
}