@import "all_fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1;
}

ul[class],
ol[class] {
  list-style: none;
}


@import "header";
@import "other";
@import "mobile_menu";
@import "footer";

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content
  }
}


.section_main {
  background: linear-gradient(180deg, rgba(177, 222, 255, 0.3), rgba(255, 166, 237, 0) 100%);
  padding: 129px 0 0 0;

  .main_block_width {
    @include max-screen(1024px) {
      margin: 0 auto;
    }
  }

  img {
    object-fit: cover;
    width: 100vh;
    margin-left: 50px;
    @include max-screen(1070px) {
      margin: 20px auto 0 auto;
    }
    @include max-screen(460px) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .d_flex_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include max-screen(1070px) {
      flex-wrap: wrap;
    }

  }

  h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    color: #3E3E3E;
    margin-bottom: 31px;
    text-align: left;


  }

  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: rgba(117, 117, 117, 0.46);
    margin-bottom: 50px;
    max-width: 460px;
    text-align: left;


  }

  .text_color {
    @extend h2;
    color: #40A3F8;

  }

}

.form {
  padding: 13px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 22px rgba(228, 245, 252, 0.3);
  border-radius: 8px;
  border: transparent;
  @include max-screen(595px) {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


  }
  @include max-screen(427px) {
    justify-content: stretch;


  }

  .search {
    background: rgba(245, 246, 250, 0.52);
    height: 59px;
    width: 216px;
    border-radius: 8px;
    padding: 18px 30px;
    border: transparent;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #3D3D3F;
    margin-right: 19px;
    @include max-screen(595px) {
      width: 50%;

    }
    @include max-screen(472px) {
      margin-right: 0;


    }
    @include max-screen(427px) {
      width: 100%;
      margin-bottom: 10px;


    }

  }

  .select {
    width: 203px;
    height: 59px;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 8px;
    box-sizing: border-box;
    background: rgba(245, 246, 250, 0.52);
    border: transparent;
    margin-right: 31px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #3D3D3F;
    @include max-screen(595px) {
      width: 100%;
      margin-right: 0;

    }
    @include max-screen(472px) {
      margin-right: 0;
    }

    option {
      content: url("../images/find.svg");
      position: absolute;
      top: 11px;
      right: 17px;


    }
  }

  .castom-input {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 90%;
      margin: auto 3px auto 0;
      width: 14px;
      height: 16px;
      background: url("../images/location.svg");
      background-size: cover;
      @include max-screen(595px) {
        right: 88%;


      }


    }

    input {
      width: 100%;
      height: 25px;

    }
  }

  button {
    width: 70px;
    height: 59px;
    background: #40A3F8;
    border-radius: 8px;
    position: relative;
    @include max-screen(595px) {
      margin-top: 10px;
      width: 100%;
    }
    @include max-screen(512px) {
      margin-top: 10px;
      width: 100%;
    }


    &:before {
      content: url("../images/find.svg");
      position: absolute;
      top: 12px;
      right: 18px;
      @include max-screen(595px) {
        top: 20%;
        right: 44%;


      }
      @include max-screen(513px) {
        top: 20%;
        right: 44%;


      }

    }


  }

  input::placeholder {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.3);
  }
}

/*..................................................................................*/

.section_solution {
  background: linear-gradient(180deg, rgba(177, 222, 255, 0.5) 0%, rgba(255, 166, 237, 0) 100%);
  padding: 75px 0 200px 0;

  h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 70px;
    color: #3E3E3E;
    margin: 0 auto 50px;
    text-align: center;

  }

  h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #3D3D3F;
    text-align: center;


  }

  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;

  }

  .solution_column {
    display: flex;
    flex: 1 0 33.333%;
  }

  .solution_item {
    margin: 0 30px;
    text-align: center;
    @include max-screen(800px) {
      max-width: 320px;
    }

  }

  .image {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
  }

}

/*..................................................................................*/

.owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.owl-carousel .owl-item img {
  display: inline-flex;
  height: 100px;
  width: 100px;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;

}

.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #DBE8EE;
  margin: 0 5px;

}

.owl-dots button.owl-dot.active {
  background-color: #40A3F8;
  border-radius: 6px;
  width: 60px;
  height: 15px;

}


/*..................................................................................*/


.block_man {
  display: flex;
  justify-content: space-between;
  align-items: end;
  @include max-screen(1000px) {
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }

  img {
    width: 583px;
    height: 524px;
    margin-top: 80px;
    @include max-screen(1000px) {
      margin-bottom: 30px;
    }
    @include max-screen(620px) {
      width: 100%;
      height: 100%;
    }
  }

  h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.02em;
    color: #3D3D3F;
    text-align: left;

  }

  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(61, 61, 63, 0.7);
  }

  ul {

    li {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.02em;
      color: #3D3D3F;
      list-style-image: url("../images/Vector.svg");
      list-style-position: inside;
      margin-bottom: 14px;
      margin-top: 10px;

      &:last-child {
        margin-bottom: 24px;
      }
    }
  }

  a {
    padding: 10px 42px 10px 20px;
    background-color: #40A3F8;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    position: relative;

    &:before {
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      content: "\f061";
      color: white;
      font-size: 15px;
      position: absolute;
      top: 6px;
      right: 15px;
    }

  }
}

.block_man_text-width {
  max-width: 500px;
  margin-left: 75px;
  @include max-screen(1000px) {
    margin-left: 0;
  }
}

/*..................................................................................*/

.service {
  h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.02em;
    color: #3D3D3F;
    margin-bottom: 24px;
    text-align: center;
  }

  h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #3D3D3F;
    margin: 19px 0 23px 0;
  }

  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #999999;
  }

  .service_text {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(61, 61, 63, 0.7);
    margin-bottom: 75px;

  }

  .text-width {
    max-width: 482px;
    margin: 0 auto;
  }

  .service_column {
    display: flex;
    align-items: center;
    justify-content: space-between;


  }

  .service_item {
    margin-right: 32px;
    margin-left: 32px;
    text-align: center;
    background: #eceaea;
    border-radius: 10px;
    padding: 61px 62px 31px 63px;
    height: 100%;
    @include max-screen(800px) {
      max-width: 320px;
    }

    &:not(:last-child) {

    }

    &:hover {
      background: #eceaea;

    }
  }

}


/*..................................................................................*/
.section_doctors {
  padding: 120px 0 0 0;

  h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.02em;
    color: #3D3D3F;
    text-align: center;
    margin-bottom: 16px;
  }

  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(61, 61, 63, 0.7);
    max-width: 500px;
    text-align: center;
    margin: 16px auto 70px auto;
  }

  .line {
    margin: 0 auto;
  }

  .doctors_column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include max-screen(1150px) {
      justify-content: space-around;
    }

  }

  .doctor_item {
    padding: 10px 13px 30px 13px;
    background: linear-gradient(138.88deg, rgba(254, 254, 254, 0) -2.44%, #ad8a8a -2.43%, rgba(254, 254, 254, 0.51) 98.26%);
    border-radius: 10px;
    @include max-screen(1150px) {
      margin: 0 15px 15px 15px;
    }


    h4 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      color: #3D3D3F;
    }

    p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: #999999;
      margin: 1px auto 17px auto;
      letter-spacing: 0;
      max-width: none;
    }

    .doctor_social-media {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        &:not(:last-child) {
          margin-right: 12px;

        }
      }

    }

    .doctor_img {
      border-radius: 10px;
      margin-bottom: 18px;
      width: 241px;
      height: 249px;
      object-fit: cover;
      object-position: top;
    }

  }

  .btn_explore {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    @include max-screen(700px) {
      margin-top: 30px;
    }
    @include max-screen(700px) {
      margin-top: 15px;
    }

    a {
      background-color: #40A3F8;
      border-radius: 5px;
      padding: 9px 21px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      color: #FFFFFF;
      text-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
      text-decoration: none;

    }
  }
}


/*..................................................................................*/
.section_mobile_app {
  .block_mobile_app {
    display: flex;
    justify-content: space-between;
    @include max-screen(1000px) {
      flex-wrap: wrap;
      justify-content: center;
      margin-right: auto;
      margin-left: auto;
    }

    img {
      width: 100%;
      height: 100%;
      @include max-screen(1142px) {
        width: 700px;
        height: 650px;
      }
      @include max-screen(620px) {
        width: 100%;
        height: 100%;
      }
    }

    h3 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 42px;
      line-height: 49px;
      letter-spacing: 0.02em;
      color: #3D3D3F;
      text-align: left;
      margin-top: 100px;
    }

    p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 0.02em;
      text-align: left;
      color: rgba(61, 61, 63, 0.7);
    }
  }
}


@import "footer";


