@import "all_fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1;
}


@import "header";
@import "other";
@import "mobile_menu";
@import "footer";

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content
  }
}



.section_main {
  background: linear-gradient(180deg, rgba(177, 222, 255, 0.3), rgba(255, 166, 237, 0) 100%);
  padding: 129px 0 0 0;

  .main_block_width {
    @include max-screen(1024px) {
      margin: 0 auto;
    }
  }

  img {
    object-fit: cover;
    width: 100vh;
    margin-left: 50px;
    @include max-screen(1070px) {
      margin: 20px auto 0 auto;
    }
    @include max-screen(460px) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .d_flex_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include max-screen(1070px) {
      flex-wrap: wrap;
    }

  }

  h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    color: #3E3E3E;
    margin-bottom: 31px;
    text-align: left;


  }

  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: rgba(117, 117, 117, 0.46);
    margin-bottom: 50px;
    max-width: 460px;
    text-align: left;


  }

  .text_color {
    @extend h2;
    color: #40A3F8;

  }

}

.form {
  padding: 13px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 22px rgba(228, 245, 252, 0.3);
  border-radius: 8px;
  border: transparent;
  @include max-screen(595px) {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


  }
  @include max-screen(427px) {
    justify-content: stretch;


  }

  .search {
    background: rgba(245, 246, 250, 0.52);
    height: 59px;
    width: 216px;
    border-radius: 8px;
    padding: 18px 30px;
    border: transparent;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #3D3D3F;
    margin-right: 19px;
    @include max-screen(595px) {
      width: 50%;

    }
    @include max-screen(472px) {
      margin-right: 0;


    }
    @include max-screen(427px) {
      width: 100%;
      margin-bottom: 10px;


    }

  }

  .select {
    width: 203px;
    height: 59px;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 8px;
    box-sizing: border-box;
    background: rgba(245, 246, 250, 0.52);
    border: transparent;
    margin-right: 31px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #3D3D3F;
    @include max-screen(595px) {
      width: 100%;
      margin-right: 0;

    }
    @include max-screen(472px) {
      margin-right: 0;
    }

    option {
      content: url("../images/find.svg");
      position: absolute;
      top: 11px;
      right: 17px;


    }
  }

  .castom-input {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 90%;
      margin: auto 3px auto 0;
      width: 14px;
      height: 16px;
      background: url("../images/location.svg");
      background-size: cover;
      @include max-screen(595px) {
        right: 88%;


      }


    }

    input {
      width: 100%;
      height: 25px;

    }
  }

  button {
    width: 70px;
    height: 59px;
    background: #40A3F8;
    border-radius: 8px;
    position: relative;
    @include max-screen(595px) {
      margin-top: 10px;
      width: 100%;
    }
    @include max-screen(512px) {
      margin-top: 10px;
      width: 100%;
    }


    &:before {
      content: url("../images/find.svg");
      position: absolute;
      top: 12px;
      right: 18px;
      @include max-screen(595px) {
        top: 20%;
        right: 44%;


      }
      @include max-screen(513px) {
        top: 20%;
        right: 44%;


      }

    }


  }

  input::placeholder {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.3);
  }
}

/*..................................................................................*/

.section_solution {
  background: rgba(177, 222, 255, 0.3);
  padding: 75px 0 200px 0;

  h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 70px;
    color: #3E3E3E;
    margin: 0 auto 50px;
    text-align: center;

  }

  h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #3D3D3F;
    text-align: center;


  }

  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;

  }

  .solution_item {
    margin: 0 30px;
    text-align: center;
    @include max-screen(800px) {
      max-width: 320px;
    }
    @include max-screen(790px){
      margin: 0 auto;
    }

  }

  .image {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
  }

  .d_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include max-screen(800px) {
      flex-wrap: wrap;
    }
  }

}

/*..................................................................................*/

.owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.owl-carousel .owl-item img {
  display: inline-flex;
  height: 100px;
  width: 100px;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;

}

.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #DBE8EE;
  margin: 0 5px;

}

.owl-dots button.owl-dot.active {
  background-color: #40A3F8;
  border-radius: 6px;
  width: 60px;
  height: 15px;

}


/*..................................................................................*/


.block_man {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 80px;
  @include max-screen(1000px) {
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }

  img {
    object-fit: cover;
    width: 583px;
    height: 524px;

    @include max-screen(1000px) {
      margin-bottom: 30px;
    }
    @include max-screen(620px) {
      width: 100%;
      height: 100%;
    }
  }

  h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.02em;
    color: #3D3D3F;
    text-align: left;

  }

  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(61, 61, 63, 0.7);
  }

  ul {

    li {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.02em;
      color: #3D3D3F;
      list-style-image: url("../images/Vector.svg");
      list-style-position: inside;
      margin-bottom: 14px;
      margin-top: 10px;

      &:last-child {
        margin-bottom: 24px;
      }
    }
  }

  a {
    padding: 10px 42px 10px 20px;
    background-color: #40A3F8;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    position: relative;

    &:before {
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      content: "\f061";
      color: white;
      font-size: 15px;
      position: absolute;
      top: 6px;
      right: 15px;
    }

  }
}

.block_man_text-width {
  max-width: 500px;
  margin-left: 75px;

  @include max-screen(1000px) {
    margin-left: 0;
  }
}

/*..................................................................................*/

.service {
  background: rgba(177, 222, 255, 0.3);

  h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.02em;
    color: #3D3D3F;
    margin-bottom: 24px;
    text-align: center;
  }

  h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #3D3D3F;
    margin: 19px 0 23px 0;
  }

  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #999999;
  }

  .service_text {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(61, 61, 63, 0.7);
    margin-bottom: 75px;

  }

  .text-width {
    max-width: 482px;
    margin: 0 auto;
  }

  .service_column {
    display: flex;
    align-items: center;
    justify-content: space-between;


  }

  .service_item {
    text-align: center;
    background-color: #F9F9F9;
    border-radius: 10px;
    min-height: 316px;
    padding: 59px 62px 31px 63px;
    max-width: 349px;

    @include max-screen(800px) {
      max-width: 320px;
    }


  }
  .owl-item .service_item {
    cursor: pointer;
    margin: 6% 8%;
    transition: margin 0.4s ease;
  }
  .owl-item.center .service_item {
    cursor: auto;
    margin: 0;
  }


  .owl-item.center .service_item {
    cursor: auto;
    margin: 0;
    background-color: white;
    position: relative;


  }
  .owl-item.active.center > div:after {
    content: '#';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

  }
  .owl-item > div:after {
    color: transparent;
    height: 18px;
    max-width: 500px;
    background: #40A3F8;
    opacity: 0.5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

}





/*..................................................................................*/
.section_doctors {
  padding: 120px 0 0 0;
  background: rgba(177, 222, 255, 0.3);


  h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.02em;
    color: #3D3D3F;
    text-align: center;
    margin-bottom: 16px;
  }

  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(61, 61, 63, 0.7);
    max-width: 500px;
    text-align: center;
    margin: 16px auto 70px auto;
  }

  .line {
    margin: 0 auto;
    display: block;
  }

  .doctors_column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include max-screen(1150px) {
      justify-content: space-around;
    }

  }

  .doctor_item {
    padding: 10px 13px 30px 13px;
    background: linear-gradient(138.88deg, rgba(254, 254, 254, 0) -2.44%, #F9F9F9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%);
    border-radius: 10px;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    @include max-screen(1150px) {
      margin: 0 15px 15px 15px;
    }


    h4 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      color: #3D3D3F;
    }

    p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: #999999;
      margin: 1px auto 17px auto;
      letter-spacing: 0;
      max-width: none;
    }

    .doctor_social-media {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        &:not(:last-child) {
          margin-right: 12px;

        }
      }

    }

    .doctor_img {
      border-radius: 10px;
      margin-bottom: 18px;
      width: 241px;
      height: 249px;
      object-fit: cover;
      object-position: top;
      display: block;
    }

  }

  .btn_explore {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    @include max-screen(700px) {
      margin-top: 30px;
    }
    @include max-screen(700px) {
      margin-top: 15px;
    }

    a {
      background-color: #40A3F8;
      border-radius: 5px;
      padding: 9px 21px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      color: #FFFFFF;
      text-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
      text-decoration: none;

    }
  }
}


/*..................................................................................*/
.section_mobile_app {
  padding: 120px 0 120px 0;
  background: rgba(177, 222, 255, 0.3);



  .block_mobile_app {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include max-screen(1000px) {
      flex-wrap: wrap;
      justify-content: center;
      margin-right: auto;
      margin-left: auto;
    }

    img {
      object-fit: cover;
      width: 583px;
      height: 524px;

      @include max-screen(1000px) {
        margin-bottom: 30px;
      }
      @include max-screen(620px) {
        width: 100%;
        height: 100%;
      }
    }

    .block_mobile_app_text-width {
      max-width: 500px;

    }
  }


  h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: #3D3D3F;
    margin-bottom: 30px;
  }

  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: rgba(61, 61, 63, 0.7);
    margin-bottom: 30px;
  }

  .store_icon {
    width: 156px !important;
    height: 46px !important;
    border-radius: 5px;

  }

  a {
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 13px;
    }

  }
}

/*.............................................................................................*/
.section_feedback {
  padding: 120px 0 120px 0;
  background: rgba(177, 222, 255, 0.3);

.owl-dots{
  margin-bottom: 190px;
  margin-top: -191px;
  position: relative;
  z-index: 1;
}


  h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.02em;
    color: #3D3D3F;
    text-align: center;
  }

  .feedback_column {
    display: flex;
    justify-content: space-between;


  }

  .feedback_item {
    padding: 22px 17px 32px 48px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    max-width: 370px;
    margin: 90px 15px 0 15px;
    min-height: 425px!important;


    .img_absolute_feedback {
      position: absolute;
      top: -17px;
      left: 80%;
      height: 40px !important;
      width: 40px !important;
      border-radius: 100% !important;

    }

    h5 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 55px;
      color: #3D3D3F;
      text-align: left;
    }

    p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      color: #454D5D;
      text-align: left;

      &:first-of-type {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 28px;
        text-align: left;
      }
    }

  }


  .d_flex_feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .feedback_photo {
    display: flex;
    justify-content: center;

    img {
      border-radius: 100%;
      display: block;
      width: 63px !important;
      height: 63px !important;
    }
  }


  .owl-carousel .owl-item img {
    width: 25%;
    height: 100%;
  }

  .owl-carousel .owl-nav {
    display: inherit;

  }

  .owl-nav {


    .owl-prev {
      position: absolute;
      top: 40%;
      right: 102%;
      transition: 0.3s;
      @include max-screen(1275px) {
        left: -30px;
      }
      @include max-screen(1200px){
        display: none;
      }
      @include max-screen(800px) {
        left: 80px;
      }
      @include max-screen(650px) {
        left: 0;
      }
      @include max-screen(490px) {
        display: none;
      }


      &:before {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        content: "\f053";
        color: #40A3F8;
        font-size: 17px;
        background-color: #9AD0FF1B;
        border-radius: 5px;
        padding: 7px 11px;
        display: block;

      }

      &:hover {
        color: white;
        background-color: #40A3F8;
      }

    }

    .owl-next {
      position: absolute;
      top: 40%;
      right: -5%;
      transition: 0.3s;
      @include max-screen(1275px) {
        right: -30px;
      }
      @include max-screen(1200px){
        display: none;
      }
      @include max-screen(800px) {
        right: 80px;
      }
      @include max-screen(650px) {
        right: 0;
      }
      @include max-screen(490px) {
        display: none;
      }

      &:before {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        content: "\f054";
        color: #40A3F8;
        font-size: 17px;
        background-color: #9AD0FF1B;
        border-radius: 5px;
        padding: 7px 11px;
        display: block;


      }

      &:hover {
        color: white;
        background-color: #40A3F8;
      }
    }
  }
  .owl-carousel .owl-stage{
    margin-bottom: 200px;
  }
}

.section_book {
  padding: 82px 0 92px 0;
  background-image: url("../images/Group 1879background_book.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  background-position: center;
  position: relative;



  h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 21px;
  }

  a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: inline-flex;
    font-feature-settings: 'cpsp' on;
    color: #40A3F8;
    padding: 16px 17px 15px 18px;
    background-color: white;
    text-decoration: none;
    text-align: left;
    border-radius: 5px;

  }

  img {
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    @include max-screen(1090px) {
      right: -12%;
    }
    @include max-screen(885px) {
      display: none;
    }

  }

  .book_content {
    margin-left: 118px;
    max-width: 402px;

    @include max-screen(990px) {
      margin-left: 50px;
    }
    @include max-screen(920px) {
      margin-left: 15px;
    }
    @include max-screen(885px) {
margin: 0 auto;
    }
    @include max-screen(470px){
      margin: 0 10px 0 10px;
    }
  }
}


@import "footer";


