@import "all_fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1;
}

ul[class],
ol[class] {
  list-style: none;
}


img {
  max-width: 100%;
  display: block;
}


@import "header";
@import "other";
@import "mobile_menu";
@import "footer";

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content
  }
}


.section_main {
  background: linear-gradient(180deg, rgba(177, 222, 255, 0.3), rgba(255, 166, 237, 0) 100%);
  padding: 129px 0 0 0;

  img {
    width: 100vh;
  }

  h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    color: #3E3E3E;
    margin-bottom: 31px;

  }

  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: rgba(117, 117, 117, 0.46);
    margin-bottom: 50px;
    max-width: 500px;
  }

  .text_color {
    @extend h2;
    color: #40A3F8;

  }

  .text-width {
    max-width: 482px;
  }
}

.form {
  padding: 13px;
  display: flex;
  justify-content: space-between;
  max-width: 566px;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 22px rgba(228, 245, 252, 0.3);
  border-radius: 8px;
  border: transparent;

  .search {
    background: rgba(245, 246, 250, 0.52);
    height: 59px;
    width: 216px;
    border-radius: 8px;
    padding: 18px 30px;
    border: transparent;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #3D3D3F;
    margin-right: 19px;

  }

  .select {
    width: 203px;
    height: 59px;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 8px;
    box-sizing: border-box;
    background: rgba(245, 246, 250, 0.52);
    border: transparent;
    margin-right: 31px;

    option {
      content: url("../images/find.svg");
      position: absolute;
      top: 11px;
      right: 17px;

    }
  }

  .castom-input {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 90%;
      margin: auto 0;
      width: 14px;
      height: 16px;
      background: url("../images/location.svg");
      background-size: cover;
    }

    input {
      width: 100%;
      height: 25px;
    }
  }

  button {
    width: 70px;
    height: 59px;
    background: #40A3F8;
    border-radius: 8px;
    position: relative;


    &:before {
      content: url("../images/find.svg");
      position: absolute;
      top: 11px;
      right: 17px;

    }


  }

  input::placeholder {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.3);
  }
}

.section_solution {
  background: linear-gradient(180deg, rgba(177, 222, 255, 0.5) 0%, rgba(255, 166, 237, 0) 100%);
  padding: 75px 0 200px 0;

  h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 70px;
    color: #3E3E3E;
    margin: 0 auto 50px;
    text-align: center;

  }

  h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #3D3D3F;
    text-align: center;


  }

  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;

  }

  .solution_column {
    display: flex;
    flex: 1 0 33.333%;
  }

  .solution_item {
    margin: 0 30px;
    text-align: center;
    @include max-screen(800px){
      max-width: 320px;
    }

  }

  .image {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
  }

}

.owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.owl-carousel .owl-item img {
  display: inline-flex;
  height: 100px;
  width: 100px;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;

}

.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #DBE8EE;
  margin: 0 5px;

}

.owl-dots button.owl-dot.active {
  background-color: #40A3F8;
  border-radius: 6px;
  width: 60px;
  height: 15px;

}





.block_man {
  display: flex;
  justify-content: space-between;
  @include max-screen(1000px) {
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }

  img {
    width: 615px;
  }

  h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.02em;
    color: #3D3D3F;
    text-align: left;
    margin-top: 100px;
  }

  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(61, 61, 63, 0.7);
  }
  ul{

    li{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.02em;
      color: #3D3D3F;
      list-style-image: url("../images/Vector.svg");
      list-style-position: inside;
      margin-bottom: 14px;
      margin-top: 10px;
    }
  }
  a{
    padding: 10px 42px 10px 20px;
    background-color: #40A3F8;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    position: relative;
    &:before {
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      content: "\f061";
      color: white;
      font-size: 15px;
      position: absolute;
      top: 6px;
      right: 15px;
    }

  }
}

.block_man_text-width {
  max-width: 500px;
}
.service{
  h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #3D3D3F;
    margin: 19px 0 23px 0;
  }
  p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #999999;
  }
  .service_text{
    text-align: center;

  }
  .service_column{
    display: flex;
    align-items: center;
    justify-content: space-between;


  }
  .service_item{
    margin-right: 65px;
    text-align: center;
    background: white;
    border-radius: 10px;
    padding: 60px 60px 30px 60px;
    height: 100%;
    @include max-screen(1000px){
      margin-right: 20px;
    }
    @include max-screen(900px){
      margin-right: 45px;
      padding: 30px 30px 15px 30px;

    }
    @include max-screen(800px){
      max-width: 320px;
    }
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      background: #eceaea;

    }
  }

}




@import "footer";


